/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
/*HomePage*/
.home {
  background-color: rgba(220, 220, 220, .5);
}

.home .left img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
.home .card {
  margin: 10px 0px;
  border-radius: 0px;
}
.home .card:first-child {
  margin-top: 0px;
} 
.home .card:last-child {
  margin-bottom: 0px;
}